
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: white;
  width: fit-content;
  padding: 11px 20px;
  background-color: #f26722;
  outline: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn:hover {
  background-color: #f64e60;
  color: white;
  outline: none;
}

.input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(0, 187, 255);
  border-radius: 0.375rem;
  outline: none;
}

.input::placeholder {
  color: black; /* Use your desired placeholder text color */
}

.input:focus {
  border-color: #4F46E5;
}